/* color palette from <https://github.com/vuejs/theme> */

/* semantic color variables for this project */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0 !important;
}
:root {
  --app-color-button-bg: #33baea;
  --app-color-button-bg-hover: #cccc;
}
html {
  font-size: 62.5% !important;
}
