/* color palette from <https://github.com/vuejs/theme> */

/* semantic color variables for this project */

/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}



/* html {
  font-size: 62.5% !important;
} */
:root {
  --app-color-theme: #33baea;
  --app-color-button-bg-6: #cccc;
  --customer-border-radis: 2em;
  --customer-phone-border-radis: 2em 2em 0 0;
}
p {
  margin: 0 !important;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.ant-spin-dot-item {
  background-color: var(--app-color-button-bg-6) !important; /* 这里修改 Spin 的点的颜色为红色 */
}
.ant-spin-text {
  color: var(--app-color-button-bg-6);
}

.alert .ant-alert-message {
  text-align: center;
}
.ant-alert-with-description {
  padding-block: 0;
}
